@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edf2f5;
}

/* MAIN BODY CONTENT */

main {
    padding-top: 90px;
    padding-left: 220px;
    padding-right: 70px;
    max-width: 100%;
}

.main_title {
    font-size: 34px;
    font-weight: bold;
    display: inline;
}

.content-title{
    cursor: pointer;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    transition: 0.15s ease;
    padding: 18px 0 18px 30px;
    border-bottom: 1px solid grey;
}
.text-highlight:hover {
    border-color: #b5b5b5;
    color: grey;
}

.content-section {
    display: flex;
}

.content {
    list-style: none;
    padding-left: 10px;
    width: 100%;
}

.sub-content {
    /*height: 40px;*/
    list-style: none;
    /*padding-top: 10px;*/
    padding-left: 30px;
    /*padding-bottom: 10px;*/
    /*border-bottom: 1px solid #b5b5b5;*/
    display: flex;
    align-items: center;

}

.left {
    width: 230%;
}

.right {padding-left: 20px}


/* W3 SCHOOLS */

.wrapper {
    /*background-color: #eee;*/
    /*color: #444;*/
    cursor: pointer;
    /*padding: 18px;*/
    /*width: 100%;*/
    /*border: none;*/
    /*text-align: left;*/
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

.sub-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.wrapper.active .arrow {
    transform: rotate(45deg) translate(-5px, -5px);
}
.wrapper.active .arrow:before {
    transform: translate(10px, 0);

}
.wrapper.active .arrow:after {
    transform: rotate(90deg) translate(10px, 0);
    border-color: green;
    color: yellow;
}
.wrapper.active ul {
    opacity: 0.3;
    height: 108px;
}

span {
    display: inline-block;
}

.arrow {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
    /*bottom: -15px;*/
    /*left: -915px;    */
    bottom: -5px;
    left: -20px;
    transition: 0.4s ease;
    margin-top: 2px;
    text-align: left;
    transform: rotate(45deg);
    float: right;
}

.arrow:before, .arrow:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    transition: 0.4s ease;

    background-color: black;
}

.arrow:after {
    position: absolute;
    transform: rotate(90deg);
    top: -5px;
    left: 5px;
    background-color: black;
}



.active, .accordion:hover {
    background-color: #edf2f5;
}

h1 {

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

