@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* Google Fonts dependency */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edf2f5;
}

main {
    padding-top: 90px;
    padding-left: 220px;
    padding-right: 70px;
    max-width: 100%;
}

.main_title {
    font-size: 34px;
    font-weight: bold;
    display: inline;
}