/* GENERAL CONTENT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@media screen and (min-width: 1201px) {
    .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edf2f5;
}

/* MAIN BODY CONTENT */

main {
    padding-top: 90px;
    padding-left: 220px;
    padding-right: 70px;
    max-width: 100%;
}

.content-section {
    display: flex;
}

.content {
    list-style: none;
    padding-left: 10px;
    width: 100%;
}

.sub-content {
    list-style: none;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.sub-content {
    border-bottom: 1px solid #b5b5b5;
}

.content-title {
    border-bottom: 1px solid grey;
}

.left {
    width: 230%;
}

.right {padding-left: 20px}



