.navigation_search {
    margin: auto;
    width: 55%;
    cursor: default; /* Override navigation_menu_item cursor settings */
}

/* Prevent the search bar from appearing central in the hamburger menu */
@media screen and (max-width: 1200px) {
    .navigation_search {
        margin: 0;
    }
}

/* Prevent search from highlighting due to hover effects from navigationBar.css */
.navigation_search:hover {
    color: inherit;
    background-color: inherit;
}

form {
    display: flex;
}

.navigation_search_button {
    border-style: none;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    width: 40px;
    padding: 0;
}

.navigation_search_suggestions {
    text-align: center;
    display: flex;
    width: 90%;
    position: relative;
}

.navigation_search_label {
    width: 100%;
    align-items: center;
    display: flex;
}

.navigation_search_input {
    height: 20px;
    padding-top: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    font-family: inherit;
    font-size: inherit;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    padding-left: 15px;
    border: 1px solid lightgray;
    width: 80%;
}

.navigation_search_input::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 5em;
    margin-left: 5em;
}

.navigation_search_suggestions_items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.navigation_search_suggestions_items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    text-align: left;
}

.navigation_search_suggestions_items div:hover {
    background-color: #e9e9e9;
}

.navigation_search_suggestions_items div:last-child {
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
 }

.navigation_search_suggestions_active {
     background-color: DodgerBlue !important;
     color: #ffffff;
 }