.search {
    text-align: center;
    display: flex;
    width: 90%;
}

.label-search {
    width: 100%;
}

.list-search {
    text-align: center;
}

button {
    font-size: 16px;
    width: 40px;
    padding: 0;
}

.input-search {
    border-style: none;
    width: 100%;
    height: 30px;
    padding-top: 2px;
    padding-left: 10px;
    outline: none;
    transition: all .5s ease-in-out;
    font-family: inherit;
    font-size: inherit;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.input-search::placeholder{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 5em;
}

.button-search {
    border-style: none;
    cursor: pointer;
    color: #fff7ef;
    background-color: white;
}

.button-search:focus ~ .input-search {
    width: 800px;
    margin-left: 60px;
    transition: all 500ms cubic-bezier(.58, 0, .19, 1);
    -webkit-box-shadow: -36px 13px 26px -6px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: -36px 13px 26px -6px rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}