.sidebar {
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.sidebar li {
    margin: 0 0 0 0;
    cursor: pointer;
    padding: 5px 0;
}

.sidebar li:hover {
    background-color: #f2f2f2;
}

.sidebar a, .sidebar i {
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.sidebar i {
    width: 1em;
}

.active {
    background-color: #c5cedb;
    background-clip: padding-box;
}