.main_content_wrapper{
  display: flex;
  min-height: 25vh;
  justify-content: center;

}

.calendar_box_wrapper {
  border: 1px solid white;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  width: 500px;
}

.calendar_header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar_header_box_current_date {
  font-weight: 500;
  margin: 0;
}

.calendar_header_box_chevrons {
  display: flex;
}

.chevron {
  border-radius: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.chevron:hover {
  background-color: #f2f2f2;
}

.fa-chevron-right {
  margin-left: 5px;
}

.calendar_weeks {}

.calendar_weeks ul, .calendar_weeks div {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-left: 40px;
}

.calendar_weeks li, .calendar_weeks p{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar_weeks .weeks p{
  cursor: default;
}

.calendar_weeks .calendar_dates li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.calendar_dates li.inactive{
  color: #aaa;
}
.calendar_dates li.active{
  color: #fff;
  background-color: white;
}
.calendar_dates li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.calendar_dates li.active::before{
  background: #9B59B6;
}
.calendar_dates li:not(.active):hover::before{
  background: #f2f2f2;
}