@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@media screen and (min-width: 1201px) {
    .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edf2f5;
}

/* MAIN BODY CONTENT */

main {
    padding-top: 90px;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 100%;
}

.content-section {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0 20px;
    height: 100%;
}

.heading {
    padding-left: 150px;
    margin: 0;
    font-size: 34px;
    font-weight: bold;
    display: inline;
}

.logo img {
    vertical-align: text-bottom;
    height: auto;
    margin: 0;
    max-width: 38px;
}

.slogan p {
    margin: 0;
    padding-left: 263px;
}

.left {
    border-right: 1px solid grey;

}

.content {
    width: 20%;

    justify-content: center;
}

li {
    text-align: center;
}

.content-title {
    padding: 0 0 20px 0;
    height: 100%;
}

.right {
    height: 100%;
}

.email-label {
    padding-right: 39px;
}

.password-label {
    padding-right: 7px;
}

