@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@media screen and (min-width: 1201px) {
    .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edf2f5;
}

/* MAIN BODY CONTENT */

main {
    padding-top: 90px;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 100%;
}

.content-section {
    display: flex;
    margin-top: 50px;
    justify-content: center;

}

ul {
    list-style: none;
    padding: 0 20px;
    height: 100%;
}

.heading {
    padding-left: 150px;
    margin: 0;
    font-size: 34px;
    font-weight: bold;
    display: inline;
}

.logo img {
    vertical-align: text-bottom;
    height: auto;
    margin: 0;
    max-width: 38px;
}

.slogan p {
    margin: 0;
    padding-left: 263px;
}

.left {
    border-right: 1px solid grey;
}

.content {
    width: 30%;
    justify-content: center;
}

li {
    text-align: center;
}

.content-title {
    padding: 0 0 20px 0;
    height: 100%;
}

.right {
    height: 100%;
    padding-left: 19px;
}

.email-label {
    padding-right: 39px;
}

.password-label {
    padding-right: 7px;
}

label {
    margin-right: 5px;
}

input:not([type="submit"]) {
    outline: none;
    transition: all .5s ease-in-out;
    font-family: inherit;
    font-size: 14px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    padding: 0 10px;
    border: 1px solid lightgray;
    width: 50%;
}

.submit {
    outline: none;
    transition: all .5s ease-in-out;
    font-family: inherit;
    font-size: 14px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    padding: 0 10px;
    border: 1px solid lightgray;
    cursor: pointer;
}



.li-form {
    width: 100%;
}