.task-block {
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.submit {
    outline: none;
    transition: all .5s ease-in-out;
    font-family: inherit;
    font-size: 14px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    padding: 10px 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}

input.submit:hover, input.submit:focus-visible {
    color: #666;
    background-color: lightgray;
}

.task-block i {
    float: right;
    margin: 0 5px;
    border-radius: 5px;
}

.content-title i {

}
li .recent-tasks {
}

.fa-trash-can:hover {
    color: red;
}

.fa-pen-to-square:hover {
    color: blue;
}

.content-title p {
    margin: 0;
}

.edit-task {
    background-color: deepskyblue;
}