/* GENERAL CONTENT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@media screen and (min-width: 1201px) {
    .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

/* MAIN BODY CONTENT */

main {
    padding-top: 90px;
    padding-left: 220px;
    max-width: 100%;
}

