/* GENERAL CONTENT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@media screen and (min-width: 1201px) {
    .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* MAIN BODY CONTENT */

main {
    padding-top: 80px;
    padding-left: 180px;
    max-width: 100%;
}

.greeting {
    font-size: 24px;
    font-weight: bold;
}